<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">


</head>
<body style="background-color:powderblue;">

<!-- <body style="background-image: url('img_girl.jpg');" > -->
<h2 style="text-align:center">Heart Disease Predictions</h2>

<form action="/preds" method='post' style="text-align:center">
  <label for="age"><b>age:</b></label><br>
  <input type="text" id="age" name="age" value="0" style="text-align:center"><br><br>
  <label for="sex"><b>sex:</b></label><br>
  <input type="text" id="sex" name="sex" value="0" style="text-align:center"><br><br>
  <label for="cp"><b>chest pain type:</b></label><br>
  <input type="text" id="cp" name="cp" value="0" style="text-align:center"><br><br>
  <label for="trestbps"><b>Resting blood pressure:</b></label><br>
  <input type="text" id="trestbps" name="trestbps" value="0" style="text-align:center"><br><br>
  <label for="chol"><b>Serum cholestoral in mg/dl:</b></label><br>
  <input type="text" id="chol" name="chol" value="0" style="text-align:center"><br><br>
  <label for="fbs"><b>Fasting blood sugar:</b></label><br>
  <input type="text" id="fbs" name="fbs" value="0" style="text-align:center"><br><br>
  <label for="restecg"><b>Resting ECG results:</b></label><br>
  <input type="text" id="restecg" name="restecg" value="0" style="text-align:center"><br><br>
  <label for="thalach"><b>Maximum Heart Rate:</b></label><br>
  <input type="text" id="thalach" name="thalach" value="0" style="text-align:center"><br><br>
  <label for="exang"><b>Exercise Induced Angina:</b></label><br>
  <input type="text" id="exang" name="exang" value="0" style="text-align:center"><br><br>
  <label for="oldpeak"><b>ST Depression Induced:</b></label><br>
  <input type="text" id="oldpeak" name="oldpeak" value="0" style="text-align:center"><br><br>
  <label for="slope "><b>Slope of the Peak Exercise ST Segment:</b></label><br>
  <input type="text" id="slope" name="slope" value="0" style="text-align:center"><br><br>
  <label for="ca"><b>Number of Vessels Colored by Flourosopy:</b></label><br>
  <input type="text" id="ca" name="ca" value="0" style="text-align:center"><br><br>
  <label for="thal"><b>Thalassemia:</b></label><br>
  <input type="text" id="thal" name="thal" value="0" style="text-align:center"><br><br>
  <input type="submit" value="Submit"><br><br>

  <h2> Prdictions:</h2>

  <p font-size: 20px><strong>{{ result }}</strong></p>

</form> 

</body>
</html>